#centre {
    position:relative;
    top: -50px;
}

#toolbar
{
    width:800px;
}

#toolbar ul
    {
        width:500px;
    }
    #toolbar li
    {
        list-style-type:none;
float:left;
    }


.container {
    float: left;
    margin: 20px;
    width: 28%;
}

canvas {
    float: left;
    margin: 20px;
}

#opener
{
    position:absolute;
    top:10px;
}