<script>
    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            show: {
                effect: "blind",
                duration: 500
            },
            hide: {
                effect: "blind",
                duration: 500
            }
        });

        $("#opener").click(function () {
            $("#dialog").dialog("open");
        });
    });
  </script>

<div id="dialog">
    <div id="search">
    <script>
        (function () {
            var cx = '015155386140379294602:k9hv7ukafn4';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
</script>
<gcse:search gname="storesearch"></gcse:search>
        </div>
</div>    
    <img src="../../Content/themes/base/images/srd.png" id="opener" class="pull-right icon"/>

<script type="text/javascript">
    if (google != "undefined") {
        var cseElement = google.search.cse.element.getElement('storesearch'),
        query = cseElement.getInputQuery();
    };
</script>