<h2>SRD Search</h2>
<script>
    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            show: {
                effect: "blind",
                duration: 500
            },
            hide: {
                effect: "blind",
                duration: 500
            }
        });

        $("#opener").click(function () {
            $("#dialog").dialog("open");
        });
    });
  </script>

<div id="dialog">
    <div id="search">
    <script>
        (function () {
            var cx = '015155386140379294602:k9hv7ukafn4';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
</script>
<gcse:search></gcse:search>
        </div>
</div>
    <button id="opener">search SRD</button>

<script>
    $(".gsc - search - button").bind('click', storesearch(), false);
    function storesearch() { alert("I searched!"); }
</script>