<script type="text/javascript" src=@Url.Content("~/Content/js/rollerHub.js")></script>
<h2>DiceRoller</h2>
<div id="roller">
    <label for="message">Message</label>
    <textarea id="message" class="span12"></textarea>
    <label for="diceroll">Dice to roll</label>
    <input type="text" id="diceroll"  class="span12"/>
    <label for="numdice">How many times?</label>
    <input type="text" id="numdice"  class="span12"/>
    <input type="button" id="sendmessage" value="Send" />
    <input type="button" id="setInit" value="Init" />
    <input type="hidden" id="displayname" />
    <ul id="log">
    </ul>
</div>

<!--bind enter key to roll-->

<script type="text/javascript">
    $('#roller').bind('keypress', function (e) {
        if (e.keyCode == 13) {
            $(this).find('input[type=button]:first').click();
        }
    });
</script>
