<h2>DiceRoller</h2>
<div class="container">
    <label for="message">Message</label>
    <input type="text" id="message" />
    <label for="diceroll">Dice to roll</label>
    <input type="text" id="diceroll" />
    <label for="numdice">How many times?</label>
    <input type="text" id="numdice" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="log">
    </ul>
</div>
