
<script type="text/javascript" src=@Url.Content("~/Content/js/sketchPad.js")></script>

<div class="container" id="canvasContainer">
    <h2>Sketchpad</h2>
    <div id="toolbar">
        <ul>
    <li id="line" class="ui-icon ui-icon-arrow-2-e-w"></li>
    <li id="pen" class="ui-icon ui-icon-pencil"></li>
    <li id="rectangle" class="ui-icon ui-icon-stop"></li>
    <li id="clear">CLEAR ALL</li>
</ul>
<input type='text' id="colourPicker" value="#000" />
<script type="text/javascript">
    $("#colourPicker").spectrum({
        change: setColour,
        clickoutFiresChange: true
    });
</script>
        <select id="size">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <canvas id="sketchPad" width="800px" height="600px">
        <p>Unsupported Browser</p>
    </canvas>
</div>
