<script type="text/javascript" src=@Url.Content("~/Content/js/userHub.js")></script>
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <p><script type="text/javascript">
               var loggedInUser = "@System.Web.HttpContext.Current.User.Identity.Name"
       </script>    
    </p>
}
else
{   <p>
    @Html.ActionLink("Login","Logon","Account")
    /
    @Html.ActionLink("Register","Register","Account")
    </p>
}
<div>
<p class="pull-right lead" id="user">&nbsp;</p>
    </div>
<div>
    <h5>Logged In Users: </h5>
    <ul id="userList">        
    </ul>
</div>
