<script type="text/javascript" src=@Url.Content("~/Content/js/userHub.js")></script>

<p class="pull-right lead" id="user">Logged in as </p>
<div class="lead">
    <h5>Logged In Users: </h5>
    <ul id="users"></ul>
</div>
