<script type="text/javascript" src=@Url.Content("~/Content/js/userHub.js")></script>
<input id="userlogin" type="text" class="span10"/>
<div>
<p class="pull-right lead" id="user">&nbsp;</p>
    </div>
<div>
    <h5>Logged In Users: </h5>
    <ul id="userList">        
    </ul>
</div>
