<h2>Xp table</h2>
<table>
    <tr>
        <td>
            <div contenteditable>I'm editable</div>
        </td>
        <td>
            <div contenteditable>I'm also editable</div>
        </td>
    </tr>
    <tr>
        <td>I'm not editable</td>
    </tr>
</table>
